%Header.PcHeader
  .PcHeader__Inner
    .TopContent
      %h1.Img
        = image_tag "logo.png", size: "140x40", class: "Image"
      %form.Search
        %input{name: "UTF8", type: "hidden", value: "✓"}
        %input.ItemForm{placeholder: "キーワードから探す", type: "text"}/
        %button.BtnSearch{type: "submit"}
          = image_tag "icon/icon-search1.png", class: "image"
    .BottomContent
      .ListLeft
        .item_1
          = link_to "カテゴリー", "#", class: "header-link"
        .item_2
          = link_to "ブランド", "#", class: "header-link"
      - if user_signed_in?
        .after-sign
          = link_to "ログアウト", destroy_user_session_path, class: "header-link", method: :delete
      - else
        .ListRight
          .item_3
            = link_to "ログイン", new_user_session_path, class: "header-link"
          .item_4
            = link_to "新規登録", new_user_registration_path, class: "header-link"
