= render "items/header"
.main
  .showMain
    .content
      .topContent
        .itemBox
          .itemBox__name 
            %h2
              = @item.name
          .itemBox__imageGroup
            %ul.itemBox__topImage
              %li
                = image_tag "#{@item.images[0].image_url}"
                .itemBox__caroucel
                  %ul
                  - @item.images.each do |image|
                    %li 
                      = image_tag "#{image.image_url}", size: "75x75"
                    
          .itemBox__priceTag
            %span 
              ￥
              = @item.price.to_s(:delimited)
            .itemBox__priceTag--detail
              %span (税込)
              %span 送料込み 
          // 自分以外のユーザー(ゲストも含む)のとき購入確認画面であるpurchaseコントローラー(confirmationアクション)を呼び出す。ログインしているか判定し、クレジットカード決済登録ページか購入確認画面に分岐させる。
          - if (current_user == nil)||(current_user.id != @item.seller_id)
            .itemBox__buyBtn
              = link_to "/" do 
                購入
          - elsif @item.status.id == 2
            .itemBox__buyBtn--disabled 
              = link_to "/" do
                売り切れ
          - elsif current_user.id == @item.user_id
            .itemBox__editBtn
              = link_to edit_item_path do
                編集  削除
          .itemBox__description
            = @item.description
          .itemBox__infoGroup
            %table
              %tbody
                %tr
                  %th
                    出品者
                  %td
                    = link_to items_path, class: "seller" do
                      = @item.seller.nickname
                %tr
                  %th
                    カテゴリー
                  %td
                    = @item.category.parent.parent.name
                    %br
                    = @item.category.parent.name
                    %br
                    = @item.category.name
                %tr
                  %th
                    ブランド
                  %td
                    = @item.brand.brand_name
                %tr
                  %th
                    商品の状態
                  %td
                    = @item.item_condition.condition
                %tr
                  %th
                    送料込み(配送料の負担)
                  %td
                    = @item.delivery_cost.deliveryCost
                %tr
                  %th
                    発送元地域
                  %td
                    = @item.seller_region.prefercture
                %tr
                  %th
                    発送日の目安
                  %td
                    = @item.preparation_for_shipment.day
          .optionalArea
            %ul
              %li.optionalBtn__favorite
                = icon("fa", "star")
                お気に入り
            %ul
              %li.optionalBtn__report
                = link_to "#" do
                  = icon("fa", "flag")
                  不適切な商品の通報
        .commentBox
          %form
            %textarea{name: "comment[body]", required: "required"}
            %p.notice
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %br
            %button{value: "送信", name: "button", type: "submit", class: "commentBtn"}
              = icon("fa", "comment") 
              コメントする
      %ul.links
        %li.links__nextItem
          = link_to "#" do
            = icon("fa", "angle-left")
            %span 前の商品
        %li.links__previousItem
          = link_to "#" do
            %span 後ろの商品
            = icon("fa", "angle-right")
      .relatedItems
        = @item.category.name
        をもっとみる
        .relatedItems__lists
          .relatedItems__item
            - @related_items.each do |item|
              = link_to "#" do 
                %figure.relatedItems__itemImage
                  = image_tag "#{@item.images[0].image_url}"
                .relatedItems__itemInfo
                  %h3.relatedItems__itemName
                    = item.name
                  .relatedItems__infoDetails
                    %ul
                      %li
                        = item.price
                      %li
                        =icon("fa", "star",class:"likeIcon")
                        0
                    %p 
                    (税込み)
%aside.appBanner
  .bannerDecoration
    %h2
      誰でもかんたん、人生を変えるフリマアプリ
    %p
      今すぐ無料ダウンロード 
    .bannerDecoration__icons
      = link_to "#" do
        = image_tag "icon/icon-mobile-app-ios.svg", class:"bannerDeoration__icon--ios" 
        = image_tag "icon/icon-mobile-app-android.svg", class:"bannerDecoration__icon--adnroid"

= render "layouts/footer"

= link_to new_item_path do
  .sellBtn
    %span.sellBtn__text
      出品
    = image_tag "icon/icon_camera.png", class:"sellBtn__icon"

    